<p>
    <ul>
    <table>
        <tr><td>Потенциальный пользователь</td><td>Потенциальная зарплата</td><td>Возраст</td></tr>
        {{#each projects}}
            <tr><td>{{name}}</td><td>{{price}}0 $</td><td>{{age}} years</td></tr>
        {{/each}}
    </table>
    </ul>
  </p>