  <div>
		<h1 align="center">Microverse</h1>
		<table>
			<td>
				<h2 align="left">Пользователи</h2>
			<table style="border: 0px">
			<tr style="border: 1px">
                <td>Name</td>
				<td>Surname</td>
				<td>Nationality</td>
				<td>Age</td>
			</tr>
			<tr>
				<td>Василий</td>
				<td>Дробышевский</td>
				<td>Россия</td>
				<td>18 лет</td>
			</tr>
			<tr>
				<td>Анастаися</td>
				<td>Станкевич</td>
				<td>Беларусь</td>
				<td>19 лет</td>
			</tr>
			<tr>
				<td>Мария</td>
				<td>Корытко</td>
				<td>Беларусь</td>
				<td>20 лет</td>
			</tr>
			<tr>
				<td>Артем</td>
				<td>Перетягин</td>
				<td>Россия</td>
				<td>24 года</td>
			</tr>
			 </table>
			 </td>
			 <td bgcolor="crimson">
				 <h2 align="center">График наших пользователей</h2>
		<ul type="none">
			<li>8-00  -  9-00 утренняя командная сессия</li>
			<li>9-00  - 12-00 изучение и индивидуальная работа</li>
			<li>12-00 - 13-00 переыв на обед</li>
		 	
		 	<li>13-00 - 17-00 изучение и индивидуальная работа</li>
		 	<li>17-00 - 17-15 ежедневный митинг</li>
		</ul>
			 </td>
			 </table>
			 <div>
        <ul>
             <li><a href="/feedback/reviews">Информация о наших потенциальных клиентах</a></li>
        </ul>
		</table>
		<hr>
		<h2>Наш видеочат</h2>
	</div>
  


  